<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Global Clipboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
  </head>
  <body>
  <h1>Welcome to the Clipboard</h1>
  <p>This page allows you to save your clipboard to the server and then copy the contents to your clipboard. Will need to be careful how we implement this for security concerns.</p>
  </body>
</html>
