<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YouTube Radio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
  </head>
  <body>
  <h1>Welcome to YouTube Radio</h1>
  <p>This is where the YouTube Radio page will be. It will use an RSS feed to show you recent videos and allow you to listen to them as audio without having to leave your phone on.</p>
  </body>
</html>
